.company-card-section {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto 3.5rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  
}

.company-card{
  background: var(--card-background);
  border: 1.5px solid var(--card-border);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  padding: 2.2rem 2rem;
  font-size: 1.06rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 230px;
  transition: box-shadow 0.21s, transform 0.12s;
  animation: fadein 0.54s;
}

.company-card:hover {
  box-shadow: 0 8px 64px rgba(99, 102, 241, .5);
  transform: scale(1.01);
}

.company-card-header .company-logo {
    width: 150px;
}
.company-card-header .company-logo img {
  max-height: 25px;
  max-width: 150px;
}

.company-value-cont {
  display: flex;
  justify-content: space-between;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}

.company-value {
  color: #4f8ef7;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.company-industry {
  color: gray;
  font-size: 14px;
}