#company-card-section {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto 3.5rem auto;
  padding: 0 2rem;
}

#company-card-list {
  list-style-type: upper-roman;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0;
}

#company-card-list {
  background-color: #f8f9fa;
}

#company-card-list .loader {
  border: 8px solid #e0e0e0;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  align-self: center;
  justify-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.company-card {
  min-width: 230px;
  background: var(--card-background);
  border: 1.5px solid var(--card-border);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  padding: 2.2rem 2rem;
  font-size: 1.06rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  transition: box-shadow 0.21s, transform 0.12s;
  animation: fadein 0.54s;
}

.company-card:hover {
  box-shadow: 0 8px 64px rgba(99, 102, 241, .5);
  transform: scale(1.01);
}

.company-card-header .company-logo {
  width: 150px;
}

.company-card-header .company-logo img {
  max-height: 25px;
  max-width: 40px;
}

.company-value-cont {
  display: flex;
  justify-content: space-between;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}

.company-value,
.company-capital {
  color: #4f8ef7;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.company-industry {
  color: gray;
  font-size: 14px;
}

.company-stock-price {
  color: #4f8ef7;
}

.details-btn {
  color: var(--text);
  background-color: var(--button-bg);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  float: right;
}

.details-btn a {
  color: var(--text);
  text-decoration: none;
}